.example-card {
  margin-left: 2vw;
  margin-bottom: 20px;
  max-width: 70vw;
}

.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bd/Arthur_Conan_Doyle_by_Walter_Benington%2C_1914.png');
  background-size: cover;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
